@model Yackeen_Geeks_Task.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}


<div class="d-flex">
    <div class="w-75">
        @using (Html.BeginForm("Create", "Articles", FormMethod.Post, new {enctype = "multipart/form-data", onsubmit = "return postArticle(this);" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.CategoriesList, "Id", "Name"), "Select Category", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" class="form-control-file" id="addArticleImageFile" name="imageUrl" onchange="showImagePreview(this)">
                        <div class="text-danger" id="addArticleImageFileError"></div>
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "articleTextArea" })
                        @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
         }
    </div>

    <div class="w-25">
        <img src="~/Images/image-placeholder.png" class="img-fluid img-thumbnail imagePreview" />
    </div>
</div>
