@model IEnumerable<Yackeen_Geeks_Task.Models.Article>

@foreach (var article in Model)
{
    <div class="card mt-5 mb-5">
        <img class="card-img-top img-fluid" src="~/Uploads/@article.ImageUrl" alt="Card image cap" style="height: 300px">
        <div class="card-body">
            <h4 class="card-title">@article.Title</h4>
            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-between">

                <span>
                    category: <span class="text-primary">@article.Category.Name</span>

                    written by: <span class="text-info"> @article.Author.UserName </span>
                </span>


                <span>published on:  <span class="text-secondary"> @article.PublishDate </span> </span>
            </h6>
            <span class="card-text">
                @if ( article.Description.Length > 50)
                {
                    @(article.Description.Substring(0, 50) + "..");
                }
                else {

                    @article.Description;
                }
            </span>

            <a href="@Url.Action("Details", "Articles", new { Id = article.Id })" class="btn btn-link">Details</a>
        </div>
    </div>
}
